# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Build products
DerivedData/
.derivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
